.list {
  padding: 0 1.5rem;
}

.item {
  /* TODO: Share color */
  border-bottom: 1px solid #E5E3E8;
  padding: 1.5rem 0;
}

.item:last-child {
  border-bottom: none;
}

.native {
  font-weight: 500;
  margin-bottom: 1rem;
}

.translation {
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.translation:last-child {
  margin-bottom: 0;
}
