.list {
  padding: 0 1rem;
}

.item {
  margin-bottom: 1rem;
  /* TODO: Share color */
  border-bottom: 1px solid #E5E3E8;
  padding: 0.5rem 0;
}

.native {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.translation {
  font-style: italic;
  margin-bottom: 0.5rem;
}
